include bclearer_boson_1_1_source/resources/adjustment_universes/OS OpenData Product Models_attributes_to_convert_v0_04_nf_ea_com_universe.hdf5
include bclearer_boson_1_1_source/resources/adjustment_universes/OS OpenData Product Models_attributes_to_remove_v0_03_nf_ea_com_universe.hdf5
include bclearer_boson_1_1_source/resources/content_universes/bCLEARer foundation_v0_04_nf_ea_com_universe.hdf5
include bclearer_boson_1_1_source/resources/content_universes/bOSON_1_v0_05_nf_ea_com_universe.hdf5
include bclearer_boson_1_1_source/resources/content_universes/OS OpenData Product Models_cleaned_os_open_names_filtered_v0_04_nf_ea_com_universe.hdf5
include bclearer_boson_1_1_source/resources/content_universes/os_inspire_bclearer_link_v0_04_nf_ea_com_universe.hdf5
